{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Real Estate</h1>
          <span class="subheading">This is what Market is.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          The Real Estate Industry in India Market size is estimated at USD 0.33 trillion in 2024, and is expected to reach USD 1.04 trillion by 2029, growing at a CAGR of 25.60% during the forecast period (2024-2029). Source: https://www.mordorintelligence.com/industry-reports/real-estate-industry-in-india
        </p>
        <p>
          The country's real estate market was affected by the COVID-19 pandemic. In addition, the residential sector was the worst hit as strict lockdown measures across major cities in India impacted housing sales as home registrations were suspended and home loan disbursement was slow. Source: https://www.mordorintelligence.com/industry-reports/real-estate-industry-in-india
        </p>
        <p>
          However, the sector recovered due to an increase in house sales, new project launches, and increasing demand for new office and commercial spaces, etc. Source: https://www.mordorintelligence.com/industry-reports/real-estate-industry-in-india
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
