{% include "header.html" %}
{% block content %}
  <header class="masthead" style="background-image: url('/static/assets/img/post-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">


<div

class="row gx-4 gx-lg-5 justify-content-center">


<div

class="col-md-10 col-lg-8 col-xl-7">


<div

class="page-heading">


<h1>{{ property.name }}</h1>
            <span class="subheading">{{ property.address }}</span>
          </div>

</div>


</div>


</div>


</header>



<div

class="container px-4 px-lg-5">


<div

class="row gx-4 gx-lg-5 justify-content-center">


<div

class="col-md-10 col-lg-8 col-xl-7">



<div

class="property-details">


<ul>
            <li>Location: {{ property.location }}</li>
            <li>Features:</li>
            <ul>
              {% for feature in property.features.split(",") %}
                <li>{{ feature }}</li>
              {% endfor %}
            </ul>
          </ul>
        </div>

        <h2>Available Units</h2>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Rent Cost</th>
              <th>Unit Type</th>
            </tr>
          </thead>
          <tbody>
            {% for unit in units %}
              <tr>
                <td>{{ unit.rent_cost }}</td>
                <td>{{ unit.unit_type }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>

        <p>Interested in a unit? Contact the owner...</p>

      </div>
    </div>
  </div>

  {% include "footer.html" %}
{% endblock %}